body{
    background-color: #012b64;
}

fieldset{
    padding: 0.5rem;
    margin: 2rem;
    border: none;
}

form{
    margin: 1.5rem;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
}

div#login_container {
    width: 55%;
    border: 2px solid #ccc;    
    border-radius: 10px;       
    padding: 20px;             
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}